@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.font-abhaya {
  font-family: 'Abhaya Libre', serif;
}

.font-jost {
  font-family: 'Jost', sans-serif;
}

.slider-design::-webkit-slider-thumb {
  appearance: none;
  height: 1rem; /* h-4 */
  width: 1rem;  /* w-4 */
  border-radius: 9999px; /* rounded-full */
  background-color: #3a1a1a;
  box-shadow: none;
  transition: all 0.2s;
}

.slider-design::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background-color: #3a1a1a;
}